# API
VITE_API_URL=http://localhost:3000/api/v1
VITE_LOCATION_MAX_ACCURACY_METERS=5000
VITE_DISABLE_LOCATION_ACCURACY_CHECK=false
VITE_IMPORT_DEFAULT_ACCURACY_METERS=200

# Maps
VITE_MAP_STYLE=https://demotiles.maplibre.org/style.json
