{$DOMAIN} {
  encode zstd gzip

  @api path /api/*
  handle @api {
    reverse_proxy backend:3000
  }

  handle {
    reverse_proxy frontend:80
  }
}

analytics.{$DOMAIN} {
  reverse_proxy umami:3000
}

wiki.{$DOMAIN} {
  reverse_proxy outline:3000
}

{$DOMAIN_REDIRECT} {
  redir https://{$DOMAIN}{uri} permanent
}
